<%- include('partials/header') %>

    <main>

        <h1>
            <%= title %>
        </h1>

        <h2>
            <%= category.name %>
        </h2>

        <% if (projects.length===0) { %>

            <p>No service projects were found for this category.</p>

            <% } else { %>

                <h3>Service Projects</h3>

                <ul>

                    <% projects.forEach(project=> { %>

                        <li>

                            <a href="/project/<%= project.project_id %>">

                                <%= project.title %>

                            </a>

                        </li>

                        <% }) %>

                </ul>

                <% } %>

    </main>

    <%- include('partials/footer') %>