<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <ul>
            <% organizations.forEach(organization=> { %>
                <li>
                    <a href="/organization/<%= organization.organization_id %>">
                        <%= organization.name %>
                    </a>
                </li>
                <% }); %>
        </ul>
    </main>

    <%- include('partials/footer') %>