<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <% if (projects.length === 0) { %>
            <p>There are no upcoming service projects.</p>
        <% } else { %>
            <ul>
                <% projects.forEach(project => { %>
                    <li>
                        <a href="/project/<%= project.project_id %>">
                            <%= project.title %>
                        </a>
                        <br>
                        <small>
                            Partner Organization:
                            <a href="/organization/<%= project.organization_id %>">
                                <%= project.organization_name %>
                            </a>
                        </small>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </main>

<%- include('partials/footer') %>
